<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>

    <div class="top">
        <h1>Bem vindo ao forum GatoCurioso!</h1>
        <a href="/perguntar"><button class="perguntar-index">Perguntar</button></a>
    </div>


    <div class="container">

        <% perguntas.forEach(pergunta => { %>

        <div>
            <hr>
            <h3 class="titiloPergunta"><%= pergunta.titulo %> </h3>
            <a href="/pergunta/<%= pergunta.id %>"><button class="responder">Responder</button></a>
        </div>

        <% }) %>

    </div>

</body>
<%- include partials/footer.ejs %>